<p><%= notice %></p>
<h1>Profiles</h1>
<form class="handle-form">
  Enter Twitter Handle: <%= text_field_tag :handle %><%= submit_tag %>
</form>

<h2><%= @copy["description"] %></h2>
<% @copy["profiles"].each do |profile| %>
  <p><%= link_to profile, profile_path(profile) %></p>
<% end %>
