<p><%= notice %></p>
<h1>Profiles</h1>
<form class="handle-form">
  Enter Twitter Handle: <%= text_field_tag :handle %><%= submit_tag "Search" %>
</form>

<h2><%= @copy["description"] %></h2>
<% @copy["profiles"].each do |profile| %>
  <p><%= link_to_profile profile %></p>
<% end %>
